*{
    margin: 0;
    padding: 0;
    font-family:  'Portfolio', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
   background-image: url(/Ciencia/fundo.png);
   background-color: rgba(0, 0, 0, 0.5);
   background-blend-mode: multiply;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
}

.span-com-linha {
    border-bottom: 4px solid #14fff1;
    border-radius: 1px;
  }

span{
    color:#14fff1;
}

nav{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-around;
}


nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color:#14fff1;
    transition: .4s;
}

.ciencia{
    color: #1a90a0;
    justify-content: center;
    text-align: center;
}

.ciencia h3{
    font-family: Georgia, serif;
}

.btn{
    background-color: #000504;
    color: white;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    color: #14fff1;
    border: 4px solid #14fff1;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1 ;
    box-shadow: inset 0 0 20px #14fff1, 0 0 20px #14fff1 ;
}

.btn:hover{
    transform: scale(1.2);
    transition: 1s;
}

.apresentar{
    color: white;
    position:absolute;
    height: 10vh;
    width: 70vw;
    margin-left: 10px;
}

.apresentar h2{
    color:#140b90;
    margin-left: 15px;
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 15px;
}
#P1{
    transition: 1s;
}

#P1:hover{
    transform: scale(1.1);
    transition: 1s;
}

#P2{
    transition: 1s;
}

#P2:hover{
    transform: scale(1.1);
    transition: 1s;
}

#P3{
    transition: 1s;
}

#P3:hover{
    transform: scale(1.1);
    transition: 1s;
}

#P4{
    transition: 1s;
}

#P4:hover{
    transform: scale(1.1);
    transition: 1s;
}

#P5{
    transition: 1s;
}

#P5:hover{
    transform: scale(1.1);
    transition: 1s;
}

.container{
    color: aliceblue;
    text-align: justify;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}

.conteudo1{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80vw;
    gap: 20px;
    margin-left: 100px;
    margin-left: 120px;
}

.conteudo1 img{
    border-radius: 10px;
    margin-top: 30px;
}

.conteudo2{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80vw;
    gap: 20px;
    margin-left: 100px;
    margin-top: 50px;
    border-bottom: 2px solid #1a90a0;
    margin-left: 120px;
}

.conteudo2 img{
    border-radius: 10px;
    margin-top: 0px;
}

.conteudo3{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80vw;
    gap: 20px;
    margin-left: 100px;
    margin-top: 30px;
    border-bottom: 2px solid #1a90a0;
    margin-left: 120px;
}

.conteudo3 img{
    border-radius: 10px;
    margin-top: 30px;
}

.retangulo{
    width: .25vw;
    height: 60vh;
    margin-top: 38px;
    background-color: #1a90a0;
    border-radius: 60rem;
}

.escrita1{

}

.escrita2{

}

.escrita3{
    margin-top: 40px;
}

.imagem1{

}

.imagem2{

}

.first{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
}

.secund{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    margin-top: 5px;
}

.tres{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    margin-top: 5px;
}

.quatro{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    margin-top: 5px;
}

.first:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }

  .secund:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }

  .tres:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }

  .quatro:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }

  .tituli{
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    color: #14fff1;
  }

  .conteuds{
    color: aliceblue;
    justify-content: center;
    text-align: center;
  }

.aiiii{
    justify-content: center;
    text-align: center;
    gap: 20px;
    display: flex;
}

  .projt1{

  }

  .projt2{
    
  }
  
  .proje3{
    justify-content: center;
    text-align: center;
    margin-top: 10px;
  }



/*-----------------------------------*/

/*
.container {
    position: relative;
    font-family: sans-serif;
  }
  
  .container::before, .container::after {
    content: "";
    background-color: #fab5704c;
    position: absolute;
  }
  
  .container::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 30%;
    right: 7%;
  }
  
  .container::after {
    content: "";
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
  }
  
  .container .box {
    width: 11.875em;
    height: 15.875em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    transition: all ease .3s;
  }
  
  .container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container .box .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1em
  }
  
  .container .box div strong {
    display: block;
    margin-bottom: .5rem;
  }
  
  .container .box div p {
    margin: 0;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: .1em;
  }
  
  .container .box div span {
    font-size: .7rem;
    font-weight: 300;
  }
  
  .container .box div span:nth-child(3) {
    font-weight: 500;
    margin-right: .2rem;
  }
  
  .container .box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }

/*